p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background: linear-gradient(90deg, #ff00ff, #0000ff);
    padding: 20px;
    display:flex;
    justify-content: center;
    color:white;
    flex-direction: column;
}
ul {
    display:flex;
    gap:30px;
    list-style-type: none;
}